/* General Container Styles */
.koi-schedule-container {
    background-color: #000000;
    padding: 20px;
    border-radius: 8px;
    font-family: sans-serif;
    color: #333;
}

/* Title and Date Range Styles */
.koi-schedule-title {
    color: #ffffff;
    text-align: center;
    margin-bottom: 10px;
}

.koi-schedule-date-range {
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
}

.koi-schedule-date-range .dashicons {
    margin-bottom: 5px;
    vertical-align: middle;
    margin-right: 5px;
}

/* Day Section Styles */
.koi-schedule-day {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #1f2937;
    border-radius: 8px;
    border-bottom: 2px solid #1f2937;
}

.koi-schedule-day-title {
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1em;
}

.koi-schedule-day-title .dashicons {
    margin-bottom: 5px;
    vertical-align: middle;
    margin-right: 5px;
}

/* Time Slot Styles */
.koi-schedule-time-slot {
    display: block;
    /* padding: 5px 0; */
    /* border-bottom: 1px solid #ffffff; */
}

.koi-schedule-time-slot:last-child {
    border-bottom: none;
}

.koi-schedule-time {
    color: #888;
    font-weight: bold;
    font-size: 0.8em;
    flex-shrink: 0;
}

.koi-schedule-time .dashicons {
    margin-right: 5px;
    margin-bottom: 3px;
    vertical-align: middle;
}

/* Streamer Styles */
.koi-schedule-streamer {
    margin-right: 10px;
    width: 50%;
}

.koi-schedule-streamer:last-child {
    margin-right: 0;
}

.koi-schedule-streamer a {
    color: #007bff;
    text-decoration: none;
}

.koi-schedule-streamer a:hover {
    text-decoration: underline;
}

.koi-streamer-avatar {
    width: 100%;
    border-radius: 8px;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    display: block;
    aspect-ratio: 1259 / 151;
}

.koi-streamer-name {
    font-weight: bold;
    color: #444;
}

/* Streamer List and Row Styles */
.koi-streamer-list {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.koi-streamer-row {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}

.koi-streamer-row:last-child {
    margin-right: 0;
    margin-bottom: 0;
}

/* Hour Styles */
.koi-schedule-hour {
    font-size: 1em;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 10px;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 5px;
}