/* General Container Styles */
.koi-schedule-container {
    background: transparent;
    padding: 20px 20px 20px 20px;
    border-radius: 8px;
    min-width: 350px;
    max-width: 70%;
    margin: 0;
    box-sizing: border-box;
}

/* Title and Date Range Styles */
.koi-schedule-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e1f0ff;
    border: 2px solid #008cff;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 15px;
}

.koi-schedule-date-range {
    color: #000000;
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: normal;
    align-items: center;
}

.koi-schedule-date-range .dashicons {
    margin-bottom: 5px;
    vertical-align: middle;
    margin-right: 5px;
}

.koi-schedule-date-arrow {
    display: flex;
}

/* Day Section Styles */
.koi-schedule-day {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #e1f0ff;
    border: 2px solid #008cff;
    border-radius: 8px;
}

.koi-schedule-day-title {
    color: #000000;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.6em;
    text-align: center;
}

.koi-schedule-day-title .dashicons {
    margin-bottom: 5px;
    vertical-align: middle;
    margin-right: 5px;
}

/* Time Slot Styles */
.koi-schedule-time-slot {
    display: block;
    /* padding: 5px 0; */
    /* border-bottom: 1px solid #ffffff; */
}

.koi-schedule-time-slot:last-child {
    border-bottom: none;
}

.koi-schedule-time {
    color: #000000;
    font-weight: bold;
    font-size: 0.8em;
    flex-shrink: 0;
}

.koi-schedule-time .dashicons {
    margin-right: 5px;
    margin-bottom: 3px;
    vertical-align: middle;
}

/* Streamer Styles */
.koi-schedule-streamer {
    margin-right: 10px;
    width: 50%;
}

.koi-schedule-streamer:last-child {
    margin-right: 0;
}

.koi-schedule-streamer a:hover {
    text-decoration: underline;
}

.koi-streamer-avatar {
    width: 100%;
    border-radius: 8px;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    display: block;
    aspect-ratio: 1259 / 151;
}

.koi-streamer-name {
    font-weight: bold;
    color: #000000;
}

/* Streamer List and Row Styles */
.koi-streamer-list {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.koi-streamer-row {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}

.koi-streamer-row:last-child {
    margin-right: 0;
    margin-bottom: 0;
}

.koi-schedule-no-streamers {
    text-align: center;
}

/* Hour Styles */
.koi-schedule-hour {
    font-size: 1.6em;
    font-weight: normal;
    color: #000000;
    margin-bottom: 10px;
    border-bottom: 1px solid #008cff;
    padding-bottom: 5px;
}